<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
     @desc “此代码是自动生成，请继续优化注释”
	 @author 超级管理员 admin
	 @version 1.0.0
	 @date 2019-06-10 17:10:37
	 @Copyright: 江苏金恒信息科技股份有限公司
 -->
<mapper namespace="McInformationAgentDao">
	<!-- 查询所有记录 过滤公司别 -->
	<select id="findAll" parameterType="map" resultType="McInformationAgentEntity">
		select 
			*
		from mc_information_agent
		<where>
			<if test="currentCompany != null and currentCompany != ''">
				and companyId = #{currentCompany}
			</if>
			
		</where>
   		order by createDateTime desc
	</select>
	
	<!-- 查询所有记录 过滤公司别 -->
	<select id="getCount" resultType="int" parameterType="map">
		select count(id) from mc_information_agent
		<where>
			<if test="currentCompany != null and currentCompany != ''">
				and companyId = #{currentCompany}
			</if>
			
		</where>
	</select>
	
	<!-- 根据ID查询记录 -->
	<select id="findOneById" parameterType="String" resultType="McInformationAgentEntity">
		select 
			*
		from mc_information_agent
		where id = #{id}
	</select>

	<!-- 根据主档ID查询记录 -->
	<select id="findAllByihId" parameterType="String" resultType="McInformationAgentEntity">
		select
			*
		from mc_information_agent
		where ihId = #{ihId}
	</select>
	
	<!-- 添加记录 -->
	<insert id="create" parameterType="McInformationAgentEntity">
		insert into mc_information_agent
		(id, companyId, intIsActive, intIsDelete, createUserId, createDateTime, ihId, strVendorNo, strAgent, strAgentPlace, strAgentTel, strAgentMobile, strAgentFax, strAgentMail, strProxyStartDate, strProxyEndDate, strCrcy, strCreditNo, strCreditRank, strBankAccount, decCapital, decliuCapital, decEquipment, decOwes, strBrief, strEnterpriseMeno)
		values(#{id}, #{company.id}, #{intIsActive}, #{intIsDelete}, #{createUser.id}, #{createDateTime}, #{ihId}, #{strVendorNo}, #{strAgent}, #{strAgentPlace}, #{strAgentTel}, #{strAgentMobile}, #{strAgentFax}, #{strAgentMail}, #{strProxyStartDate}, #{strProxyEndDate}, #{strCrcy}, #{strCreditNo}, #{strCreditRank}, #{strBankAccount}, #{decCapital}, #{decliuCapital}, #{decEquipment}, #{decOwes}, #{strBrief}, #{strEnterpriseMeno})
	</insert>
	
	<!-- 修改记录 -->
	<update id="update" parameterType="McInformationAgentEntity">
		update mc_information_agent
		<set>
			<if test="ihId != null and ihId != ''">
				ihId = #{ihId},
			</if>
			<if test="strVendorNo != null and strVendorNo != ''">
				strVendorNo = #{strVendorNo},
			</if>
			<if test="strAgent != null and strAgent != ''">
				strAgent = #{strAgent},
			</if>
			<if test="strAgentPlace != null and strAgentPlace != ''">
				strAgentPlace = #{strAgentPlace},
			</if>
			<if test="strAgentTel != null and strAgentTel != ''">
				strAgentTel = #{strAgentTel},
			</if>
			<if test="strAgentMobile != null and strAgentMobile != ''">
				strAgentMobile = #{strAgentMobile},
			</if>
			<if test="strAgentFax != null and strAgentFax != ''">
				strAgentFax = #{strAgentFax},
			</if>
			<if test="strAgentMail != null and strAgentMail != ''">
				strAgentMail = #{strAgentMail},
			</if>
			<if test="strProxyStartDate != null and strProxyStartDate != ''">
				strProxyStartDate = #{strProxyStartDate},
			</if>
			<if test="strProxyEndDate != null and strProxyEndDate != ''">
				strProxyEndDate = #{strProxyEndDate},
			</if>
			<if test="strCrcy != null and strCrcy != ''">
				strCrcy = #{strCrcy},
			</if>
			<if test="strCreditNo != null and strCreditNo != ''">
				strCreditNo = #{strCreditNo},
			</if>
			<if test="strCreditRank != null and strCreditRank != ''">
				strCreditRank = #{strCreditRank},
			</if>
			<if test="strBankAccount != null and strBankAccount != ''">
				strBankAccount = #{strBankAccount},
			</if>
			<if test="decCapital != null">
				decCapital = #{decCapital},
			</if>
			<if test="decliuCapital != null">
				decliuCapital = #{decliuCapital},
			</if>
			<if test="decEquipment != null">
				decEquipment = #{decEquipment},
			</if>
			<if test="decOwes != null">
				decOwes = #{decOwes},
			</if>
			<if test="strBrief != null and strBrief != ''">
				strBrief = #{strBrief},
			</if>
			<if test="strEnterpriseMeno != null and strEnterpriseMeno != ''">
				strEnterpriseMeno = #{strEnterpriseMeno},
			</if>
			<if test="updateUser != null">
				updateUserId = #{updateUser.id},
			</if>
			<if test="updateDateTime != null and updateDateTime != ''">
				updateDateTime = #{updateDateTime},
			</if>
			<if test="intIsActive != null and intIsActive != ''">
				intIsActive = #{intIsActive},
			</if>
			<if test="intIsDelete != null and intIsDelete != ''">
				intIsDelete = #{intIsDelete}
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 根据主档id修改记录 -->
	<update id="updateByihId" parameterType="McInformationAgentEntity">
		update mc_information_agent
		<set>
			<if test="strVendorNo != null and strVendorNo != ''">
				strVendorNo = #{strVendorNo},
			</if>
			<if test="strAgent != null and strAgent != ''">
				strAgent = #{strAgent},
			</if>
			<if test="strAgentPlace != null and strAgentPlace != ''">
				strAgentPlace = #{strAgentPlace},
			</if>
			<if test="strAgentTel != null and strAgentTel != ''">
				strAgentTel = #{strAgentTel},
			</if>
			<if test="strAgentMobile != null and strAgentMobile != ''">
				strAgentMobile = #{strAgentMobile},
			</if>
			<if test="strAgentFax != null and strAgentFax != ''">
				strAgentFax = #{strAgentFax},
			</if>
			<if test="strAgentMail != null and strAgentMail != ''">
				strAgentMail = #{strAgentMail},
			</if>
			<if test="strProxyStartDate != null and strProxyStartDate != ''">
				strProxyStartDate = #{strProxyStartDate},
			</if>
			<if test="strProxyEndDate != null and strProxyEndDate != ''">
				strProxyEndDate = #{strProxyEndDate},
			</if>
			<if test="strCrcy != null and strCrcy != ''">
				strCrcy = #{strCrcy},
			</if>
			<if test="strCreditNo != null and strCreditNo != ''">
				strCreditNo = #{strCreditNo},
			</if>
			<if test="strCreditRank != null and strCreditRank != ''">
				strCreditRank = #{strCreditRank},
			</if>
			<if test="strBankAccount != null and strBankAccount != ''">
				strBankAccount = #{strBankAccount},
			</if>
			<if test="decCapital != null">
				decCapital = #{decCapital},
			</if>
			<if test="decliuCapital != null">
				decliuCapital = #{decliuCapital},
			</if>
			<if test="decEquipment != null">
				decEquipment = #{decEquipment},
			</if>
			<if test="decOwes != null">
				decOwes = #{decOwes},
			</if>
			<if test="strBrief != null and strBrief != ''">
				strBrief = #{strBrief},
			</if>
			<if test="strEnterpriseMeno != null and strEnterpriseMeno != ''">
				strEnterpriseMeno = #{strEnterpriseMeno},
			</if>
			<if test="updateUser != null">
				updateUserId = #{updateUser.id},
			</if>
			<if test="updateDateTime != null and updateDateTime != ''">
				updateDateTime = #{updateDateTime},
			</if>
			<if test="intIsActive != null and intIsActive != ''">
				intIsActive = #{intIsActive},
			</if>
			<if test="intIsDelete != null and intIsDelete != ''">
				intIsDelete = #{intIsDelete}
			</if>
		</set>
		<where>
			ihId = #{ihId}
		</where>
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="String">
		delete from mc_information_agent where id = #{id}
	</delete>

	<!--根据主档id删除-->
	<delete id="deleteByihId" parameterType="String">
		delete from mc_information_agent where ihId = #{ihId}
	</delete>
</mapper>