<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
     @desc “此代码是自动生成，请继续优化注释”
	 @author 超级管理员 admin
	 @version 1.0.0
	 @date 2019-05-05 10:52:59
	 @Copyright: 江苏金恒信息科技股份有限公司
 -->
<mapper namespace="MiIssueMDao">
	<!-- 查询所有记录 过滤公司别 -->
	<select id="findAll" parameterType="map" resultType="MiIssueMEntity">
		select 
			*
		from mi_issue_m
		<where>
			<if test="currentCompany != null and currentCompany != ''">
				and companyId = #{currentCompany}
			</if>
			<if test="strApplyNo != null and strApplyNo != ''">
				and strApplyNo like '%${strApplyNo}%'
			</if>
			<if test="strOutType != null and strOutType != ''">
				and strOutType like '%${strOutType}%'
			</if>
			<if test="strInspNo != null and strInspNo != ''">
				and strInspNo like '%${strInspNo}%'
			</if>
			<if test="strPoNo != null and strPoNo != ''">
				and strPoNo like '%${strPoNo}%'
			</if>
			<if test="strOrderNo != null and strOrderNo != ''">
				and strOrderNo like '%${strOrderNo}%'
			</if>
			<if test="strMatrlNo != null and strMatrlNo != ''">
				and strMatrlNo like '%${strMatrlNo}%'
			</if>
			<if test="strLocNo != null and strLocNo != ''">
				and strLocNo like '%${strLocNo}%'
			</if>
			<if test="strApplyUserId != null and strApplyUserId != ''">
				and strApplyUserId like '%${strApplyUserId}%'
			</if>
			<if test="strOutUserId != null and strOutUserId != ''">
				and strOutUserId like '%${strOutUserId}%'
			</if>
			<if test="strStus != null and strStus != ''">
				and strStus like '%${strStus}%'
			</if>
		</where>
   		order by strApplyNo desc ,createDateTime desc
	</select>
	
	<!-- 查询所有记录 过滤公司别 -->
	<select id="getCount" resultType="int" parameterType="map">
		select count(id) from mi_issue_m
		<where>
			<if test="currentCompany != null and currentCompany != ''">
				and companyId = #{currentCompany}
			</if>
			<if test="strApplyNo != null and strApplyNo != ''">
				and strApplyNo like '%${strApplyNo}%'
			</if>
			<if test="strOutType != null and strOutType != ''">
				and strOutType like '%${strOutType}%'
			</if>
			<if test="strInspNo != null and strInspNo != ''">
				and strInspNo like '%${strInspNo}%'
			</if>
			<if test="strPoNo != null and strPoNo != ''">
				and strPoNo like '%${strPoNo}%'
			</if>
			<if test="strOrderNo != null and strOrderNo != ''">
				and strOrderNo like '%${strOrderNo}%'
			</if>
			<if test="strMatrlNo != null and strMatrlNo != ''">
				and strMatrlNo like '%${strMatrlNo}%'
			</if>
			<if test="strLocNo != null and strLocNo != ''">
				and strLocNo like '%${strLocNo}%'
			</if>
			<if test="strApplyUserId != null and strApplyUserId != ''">
				and strApplyUserId like '%${strApplyUserId}%'
			</if>
			<if test="strOutUserId != null and strOutUserId != ''">
				and strOutUserId like '%${strOutUserId}%'
			</if>
			<if test="strStus != null and strStus != ''">
				and strStus like '%${strStus}%'
			</if>
		</where>
	</select>
	
	<!-- 根据ID查询记录 -->
	<select id="findOneById" parameterType="String" resultType="MiIssueMEntity">
		select 
			*
		from mi_issue_m
		where id = #{id}
	</select>
	
	<!-- 添加记录 -->
	<insert id="create" parameterType="MiIssueMEntity">
		insert into mi_issue_m
		(id, intIsActive, intIsDelete, createUserId, createDateTime, updateUserNo, companyId, strApplyNo, strOutType, strInspNo, strPoNo, strOrderNo, strMatrlNo, strLocNo, strApplyUserId, strApplyTime, strOutUserId, strOutData, strMemo, strSendCaseType, strSendTime, strA, strStus)
		values(#{id}, #{intIsActive}, #{intIsDelete}, #{createUser.id}, #{createDateTime}, #{updateUserNo}, #{company.id}, #{strApplyNo}, #{strOutType}, #{strInspNo}, #{strPoNo}, #{strOrderNo}, #{strMatrlNo}, #{strLocNo}, #{strApplyUserId}, #{strApplyTime}, #{strOutUserId}, #{strOutData}, #{strMemo}, #{strSendCaseType}, #{strSendTime}, #{strA}, #{strStus})
	</insert>
	
	<!-- 修改记录 -->
	<update id="update" parameterType="MiIssueMEntity">
		update mi_issue_m
		<set>
			<if test="updateUserNo != null and updateUserNo != ''">
				updateUserNo = #{updateUserNo},
			</if>
			<if test="strApplyNo != null and strApplyNo != ''">
				strApplyNo = #{strApplyNo},
			</if>
			<if test="strOutType != null and strOutType != ''">
				strOutType = #{strOutType},
			</if>
			<if test="strInspNo != null and strInspNo != ''">
				strInspNo = #{strInspNo},
			</if>
			<if test="strPoNo != null and strPoNo != ''">
				strPoNo = #{strPoNo},
			</if>
			<if test="strOrderNo != null and strOrderNo != ''">
				strOrderNo = #{strOrderNo},
			</if>
			<if test="strMatrlNo != null and strMatrlNo != ''">
				strMatrlNo = #{strMatrlNo},
			</if>
			<if test="strLocNo != null and strLocNo != ''">
				strLocNo = #{strLocNo},
			</if>
			<if test="strApplyUserId != null and strApplyUserId != ''">
				strApplyUserId = #{strApplyUserId},
			</if>
			<if test="strApplyTime != null and strApplyTime != ''">
				strApplyTime = #{strApplyTime},
			</if>
			<if test="strOutUserId != null and strOutUserId != ''">
				strOutUserId = #{strOutUserId},
			</if>
			<if test="strOutData != null and strOutData != ''">
				strOutData = #{strOutData},
			</if>
			<if test="strMemo != null and strMemo != ''">
				strMemo = #{strMemo},
			</if>
			<if test="strSendCaseType != null and strSendCaseType != ''">
				strSendCaseType = #{strSendCaseType},
			</if>
			<if test="strSendTime != null and strSendTime != ''">
				strSendTime = #{strSendTime},
			</if>
			<if test="strA != null and strA != ''">
				strA = #{strA},
			</if>
			<if test="strStus != null and strStus != ''">
				strStus = #{strStus},
			</if>
			<if test="updateUser != null">
				updateUserId = #{updateUser.id},
			</if>
			<if test="updateDateTime != null and updateDateTime != ''">
				updateDateTime = #{updateDateTime},
			</if>
			<if test="intIsActive != null and intIsActive != ''">
				intIsActive = #{intIsActive},
			</if>
			<if test="intIsDelete != null and intIsDelete != ''">
				intIsDelete = #{intIsDelete}
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="String">
		delete from mi_issue_m where id = #{id}
	</delete>

	<select id="findMaxCode" parameterType="String" resultType="String">
		select MAX(strApplyNo) from mi_issue_m a where a.strApplyNo like "%"#{strApplyNo}"%"
	</select>
</mapper>