<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
     @desc “此代码是自动生成，请继续优化注释”
	 @author 毛敏 022325
	 @version 1.0.0
	 @date 2019-04-29 18:27:17
	 @Copyright: 江苏金恒信息科技股份有限公司
 -->
<mapper namespace="MsOrderDDao">
	<!-- 查询所有记录 过滤公司别 -->
	<select id="findAll" parameterType="map" resultType="map">
		select 
			*,
			case (select a.strOrderStyle from ms_order_m a where a.strOrderNo = b.strOrderNo) when '1' then '生产型原料' when '2' then '贸易型商品' else '' end as strOrderStyle1,
			case b.strStus when 'N' then '新增' when 'S' then '生效' when 'X' then '结案' else '' end as strStatuZH
		from ms_order_d b
		<where>
			<if test="currentCompany != null and currentCompany != ''">
				and companyId = #{currentCompany}
			</if>
			<if test="strOrderNo != null and strOrderNo != ''">
				and strOrderNo = #{strOrderNo}
			</if>
		</where>
   		order by createDateTime desc
	</select>
	
	<!-- 查询所有记录 过滤公司别 -->
	<select id="getCount" resultType="int" parameterType="map">
		select count(id) from ms_order_d
		<where>
			<if test="currentCompany != null and currentCompany != ''">
				and companyId = #{currentCompany}
			</if>
			<if test="strSn!=null and strSn!=''">
				and a.strSn like '%${strSn}%'
			</if>
			<if test="strName!=null and strName!=''">
				and a.strName like '%${strName}%'
			</if>
			<if test="strBrand!=null and strBrand!=''">
				and a.strBrand like '%${strBrand}%'
			</if>
		</where>
	</select>

	<!-- 查询所有记录 过滤公司别 -->
	<select id="getCountMatrlNo" resultType="int" parameterType="map">
		select count(id) from cm_matrinfo_detail a
		<where>
			<if test="currentCompany != null and currentCompany != ''">
				and companyId = #{currentCompany}
			</if>
			<if test="strSn!=null and strSn!=''">
				and a.strSn like '%${strSn}%'
			</if>
			<if test="strName!=null and strName!=''">
				and a.strName like '%${strName}%'
			</if>
			<if test="strBrand!=null and strBrand!=''">
				and a.strBrand like '%${strBrand}%'
			</if>
			<if test="strSelfproduce!=null and strSelfproduce !=''">
				and a.strSelfproduce like '%${strSelfproduce}%'
			</if>
		</where>
	</select>

	<!-- 根据ID查询记录 -->
	<select id="findOneById" parameterType="String" resultType="map">
		select 
			*,case strStus when 'N' then '新增' when 'S' then '生效' when 'X' then '结案' else '' end as strStatuZH
		from ms_order_d
		where id = #{id}
	</select>

	<!--根据销售订单编号查询一条记录-->
	<select id="findOneByOrdNo" parameterType="String" resultType="map">
		select
			*
		from ms_order_d
		where strOrderNo = #{strOrderNo}
	</select>

	<!--根据销售订单编号查询记录-->
	<select id="findByOrdNo" parameterType="String" resultType="map">
		select
			*
		from ms_order_d
		where strOrderNo = #{strOrderNo}
	</select>
	
	<!-- 添加记录 -->
	<insert id="create" parameterType="MsOrderDEntity">
		insert into ms_order_d
		(id, strOrderNo, strOrderItem, strMatrlNo, strMatrlName, strBrand, strUnit, strSpec, bdPurchasePrice, bdSalePrice, bdSaleQty, bdPurchaseQty, bdItemAmt, strDate, strStus, strRemark, companyId, intIsActive, intIsDelete, createUserId, createDateTime)
		values(#{id}, #{strOrderNo}, #{strOrderItem}, #{strMatrlNo}, #{strMatrlName}, #{strBrand}, #{strUnit}, #{strSpec}, #{bdPurchasePrice}, #{bdSalePrice}, #{bdSaleQty}, #{bdPurchaseQty}, #{bdItemAmt}, #{strDate}, #{strStus}, #{strRemark}, #{company.id}, #{intIsActive}, #{intIsDelete}, #{createUser.id}, #{createDateTime})
	</insert>
	
	<!-- 修改记录 -->
	<update id="update" parameterType="MsOrderDEntity">
		update ms_order_d
		<set>
			<if test="strOrderNo != null and strOrderNo != ''">
				strOrderNo = #{strOrderNo},
			</if>
			<if test="strOrderItem != null and strOrderItem != ''">
				strOrderItem = #{strOrderItem},
			</if>
			<if test="strMatrlNo != null and strMatrlNo != ''">
				strMatrlNo = #{strMatrlNo},
			</if>
			<if test="strMatrlName != null and strMatrlName != ''">
				strMatrlName = #{strMatrlName},
			</if>
			<if test="strBrand != null and strBrand != ''">
				strBrand = #{strBrand},
			</if>
			<if test="strUnit != null and strUnit != ''">
				strUnit = #{strUnit},
			</if>
			<if test="strSpec != null and strSpec != ''">
				strSpec = #{strSpec},
			</if>
			<if test="bdPurchasePrice != null">
				bdPurchasePrice = #{bdPurchasePrice},
			</if>
			<if test="bdSalePrice != null">
				bdSalePrice = #{bdSalePrice},
			</if>
			<if test="bdSaleQty != null">
				bdSaleQty = #{bdSaleQty},
			</if>
			<if test="bdPurchaseQty != null">
				bdPurchaseQty = #{bdPurchaseQty},
			</if>
			<if test="bdItemAmt != null">
				bdItemAmt = #{bdItemAmt},
			</if>
			<if test="strDate != null and strDate != ''">
				strDate = #{strDate},
			</if>
			<if test="strStus != null and strStus != ''">
				strStus = #{strStus},
			</if>
			<if test="strRemark != null and strRemark != ''">
				strRemark = #{strRemark},
			</if>
			<if test="updateUser != null">
				updateUserId = #{updateUser.id},
			</if>
			<if test="updateDateTime != null and updateDateTime != ''">
				updateDateTime = #{updateDateTime},
			</if>
			<if test="intIsActive != null and intIsActive != ''">
				intIsActive = #{intIsActive},
			</if>
			<if test="intIsDelete != null and intIsDelete != ''">
				intIsDelete = #{intIsDelete}
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="String">
		delete from ms_order_d where id = #{id}
	</delete>

	<!--根据销售订单编号删除一条数据-->
	<delete id="deleteByOrdNo" parameterType="String">
		delete from ms_order_d where strOrderNo = #{strOrderNo}
	</delete>

	<!--计算销售订单明细总金额-->
	<select id="countSumMoney" parameterType="String" resultType="BigDecimal">
		select
			SUM(bdItemAmt)
		from ms_order_d
		where strOrderNo = #{strOrderNo}
	</select>

	<!--挑选存货编号 -->
	<select id="selectSaleMatrlNo" resultType="Map" parameterType="Map">
		select
		a.id, a.strClass, a.strSn, a.strName, a.strBrand, a.strSpec, a.bdPlanPrice, a.strEasyCode,a.strSelfproduce,
		(select b.strName from dc_metrology b where a.strPrickle = b.id) as strPrickleZH
		from cm_matrinfo_detail a
        <where>
            <if test="strSelfproduce != null and strSelfproduce != ''">
                and a.strSelfproduce like '%${strSelfproduce}%'
            </if>
            <if test="strSn!=null and strSn!=''">
                and a.strSn like '%${strSn}%'
            </if>
            <if test="strName!=null and strName!=''">
                and a.strName like '%${strName}%'
            </if>
            <if test="strBrand!=null and strBrand!=''">
                and a.strBrand like '%${strBrand}%'
            </if>
          <!--  <if test="strClass!=null and strClass!=''">
                and a.strClass like '%${strClass}%'
            </if>-->
        </where>
	</select>

	<!--挑选最大销售订单明细的最大项次号-->
	<select id="findMaxItem" parameterType="String" resultType="String">
		SELECT
			MAX(strOrderItem)
		FROM ms_order_d
		WHERE strOrderNo = #{strOrderNo}
	</select>
</mapper>